/* .react-datepicker__day {
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
}

.testClass {
  
  width: 60%;
}

.react-datepicker__month-container {
  width: 100%;
} */

.react-datepicker__time-list {
  padding: 0;
}

input[type=text] {
  border: 2px solid lightgrey;

  border-radius: 2em;  
  line-height: 2em;
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  width: 100%;
  
}

.react-datepicker-wrapper {
  width: 80%;
}

.react-datepicker__input-container {
  width: 80%;
}